#*.zip
*.pyc
*.cpython-39
#*.md5
#*.pckl
# *.csv
#*.xlsx
#*.gz
#*.sdf
#*.filepart
#__pycache__/
#.vscode/
#.idea/
#*.whl
#temp/
#figures/
#transformers/
#cache/
#plot/
#useful_things.md
#run.sh
#nohup.out
#*.log
#openai_api_key.json
#openai_keys.txt
#debug.py
#tem.json
#eval_results/
#learn_results/
#result_analyze.py
.DS_Store
#*.png

plot/
cases/
cache/
eval_results/

eval_results
plot_result
openai_keys.txt
openai_keys_2.txt
openai_keys_engine.txt
samba_keys.txt
samba_keys_2.txt
samba_keys_3.txt
pcst_test.json
post_process_generated_data.py
post_process_test_result.py
run.sh
tem.py
test_env.py
rundlc.sh
data_visual_check.py
data_visual_check_labeled_data.py
data_translate.py
dirichlet_process_test.py

run_dlc.sh

run_dlc_distributed.sh

run_dlc_train.sh

stop_dlc.sh

post_process_cluster.py

download_model.py

post_process_merge_data.py

post_process_bio.py

post_process_hf.py

dataset/pathway_graph_env/overall_entries.json

.idea/

outlog/